/* You can add global styles to this file, and also import other style files */
@use 'styles/variables';
@use 'styles/mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  background: var(--color-background);
  color: var(--color-text);
}
